@font-face {
  font-family: "Prata Regular";
  src: local("Prata Regular"), local("Prata-Regular"), local("Prata"),
    url("../fonts/Prata/Prata-Regular.woff2") format("woff2"),
    url("../fonts/Prata/Prata-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arial italic";
  src: local("Arial italic"), local("Arial-italic"),
    url("../fonts/Arial/Arial_italic_400.woff2") format("woff2"),
    url("../fonts/Arial/Arial_italic_400.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Arial Regular";
  src: local("Arial Regular"), local("Arial-Regular"), local("Arial"),
    url("../fonts/Arial/arial_regular_400.woff2") format("woff2"),
    url("../fonts/Arial/arial_regular_400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
