header {
  position: fixed;
  top: 0;
  padding: 1.5625% 8.489583333% 0 8.489583333%; //30px 163px

  width: 1109px; //49.27083333%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  z-index: 100;
  background-color: rgba(34, 34, 34, 0.8);
}

.logo {
  font-size: 2.25rem;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
}

nav {
  .menu {
    display: flex;
    gap: 29px; //;6.791569087%
    font-family: "Arial italic";
    font-style: italic;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: right;
  }
}

@media (max-width: 1200px) {
  header {
    width: 100%;
    padding-right: 8.489583333%;
  }
}
