header {
  position: fixed;
  top: 0;
  // width: 60.26041667%;
  padding-top: 2rem;
  // padding-left: 10rem;
  // padding-left: 14.08815903%;
  padding-left: 8.489583333%;
  padding-right: 13rem;
  display: flex;
  justify-content: space-between;
}
