.main {
  display: flex;
  height: 1009px;
  background-color: var(--main-bg-color, #222222);
  &__picture {
    display: block;
    width: 39.73958333%;
    object-fit: cover;
    img {
      width: 100%;
    }
  }
  &__content,
  header {
    width: 60.26041667%;
  }
  &__content {
    position: relative;
    flex: 1;
    padding-top: 182px;
    padding-left: 162px;
  }
  &__title {
    width: 550px;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: 0;
    text-align: left;
  }
  &__subtitle {
    margin-top: 3.125rem;
    font-family: "Arial Regular";
    font-size: 3.125rem; //50px;
    line-height: 120%;
    letter-spacing: 0;
    text-align: left;
  }
  &__bullets {
    list-style-type: none;
    margin: 4rem 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2.1875rem;
  }
  .bullet {
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #262627;
    width: max-content;

    &__icon {
      margin-right: 17px;
    }
    &__text_normal {
      font-family: "Arial Regular";
      font-size: 1.5rem;
      letter-spacing: 0;
      // line-height: 100%; //70.83333333%;
      margin-right: 7px;
      &:last-child {
        margin-right: 0;
      }
    }
    &__text_accent {
      // font-family: "Prata Regular";
      font-size: 2.5rem;
      // line-height: 32px;
      height: 32px;
      line-height: 100%; //80%;
      letter-spacing: 0.04em;
      // text-align: center;
      text-transform: uppercase;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
